body {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: hsl(30, 54%, 90%);
}

@media (width < 321px) {
    #recipe-card-container {
        width: 100%;
    }

    #recipe-card {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recipe-blocks {
        display: flex;
    }

    #image-container {
        width: 100%;
        height: 146.33px;
    }

    img {
        width: 100%;
    }

    #recipe-description-block {
        width: 85%;
        display: flex;
        flex-direction: column;
    }

    #recipe-title-container {
        font-weight: 400;
        font-size: 32px;
        display: flex;
        justify-content: center;
    }

    #recipe-title {
        font-family: Young Serif;
        width: 100%;
        text-align: left;
        line-height: 1.1em;
    }

    #recipe-description {
        font-family: Outfit;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    #preparation-time-block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #preparation-time-container {
        width: 85%;
        background-color: hsl(330, 100%, 98%);  
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }

    #preparation-time-texts {
        width: 85%;
    }

    #prep-title {
        font-family: Outfit;
        font-weight: 700;
        color: hsl(332, 51%, 32%);
        margin: 18px 0 16px 0;
        font-size: 18px;
    }

    #prep-time-list {
        padding-left: 20px;
        margin-bottom: 22px;
        margin-top: 0;
    }

    li {
        font-family: Outfit;
        margin: 10px 0;
        padding-left: 10px;
    }

    #ingredients-block {
        width: 85%;
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }

    #ingredients-container {
        width: 100%;
    }

    #ingredient-title {
        font-family: Young Serif;
        font-weight: 400;
        font-size: 22px;
        color: hsl(14, 45%, 36%);
    }

    #ingredient-list {
        padding-left: 20px;
        text-align: justify;
        margin-bottom: 30px;
    }

    #instructions-block {
        width: 85%;
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }

    #instructions-container {
        width: 100%;
    }

    #instructions-title {
        font-family: Young Serif;
        font-weight: 400;
        font-size: 22px;
        color: hsl(14, 45%, 36%);
    }

    #instructions-list {
        padding-left: 20px;
        text-align: justify;
        margin-bottom: 30px;
    }

    #nutrition-block {
        width: 85%;
    }

    #nutri-value-container {
        width: 100%;
    }

    #nutri-value-title {
        font-family: Young Serif;
        font-weight: 400;
        font-size: 22px;
        color: hsl(14, 45%, 36%);
    }

    #nutri-value-description {
        font-family: Outfit;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 22px;
    }

    #nutri-value-table-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nutri-value-table {
        width: 85%;
        margin-bottom: 22px;
    }

    .nutri-value-table-cell {
        border-bottom: 1px solid hsl(30, 18%, 87%);
        display: flex;
    }

    .nutri-value-cell-title {
        width: 50%;
    }

    .nutri-value-cell-data {
        width: 50%;
    }

    .cell-title {
        font-family: Outfit;
        font-size: 16px;
    }

    .cell-data {
        font-family: Outfit;
        font-size: 16px;
    }

    #fat-cell {
        border: none;
    }
}

@media (320px < width < 376px) {

}

@media (375px < width < 426px) {

}